<!DOCTYPE html>
<html>
<head>
  <title>SurvaayHealth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<div id="login_header">
 <% if current_login %>
Logged in as <%= current_login.email %>.
 <%= link_to "Log Out", logout_path %>
 <% else %>
 <%= link_to "Sign Up", signup_path %> or
 <%= link_to "Log In", login_path %>
 <% end %>
</div>


	
	<%= yield %>

</body>
</html>
